/*Настройки*/

.{
  margin: 0;
  padding: 0;
}
.column1 {width: 539px;}
.column2 {width: 180px;}
.column3 {width: 256px;}
.column4 {width: 436px;}
.column5 {width: 975px;}
.column6 {width: 719px;}

div[class*="column"] {
  float: left; padding: 0 8px; 
  box-sizing: border-box;}

.pull-right {float:right}  
.pull-left{float:left}
.text-right{text-align:right;} 
.text-center{text-align:center;}
.inline-block {display: inline-block;}  
ul.list-inline{padding:0; margin:0}
ul.list-inline>li{display: inline-block;} 
.inline {display: inline}
.block {display: block; float: left;}


body {
  min-width: 1600px;
  background-color: #f7f7f7;
  margin: 0 auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container 
{ width: 975px; 
  margin: 0 auto;
background-color: #fff;
padding: 0 8px;
-webkit-box-shadow: -3px 0 0 3px #dedede;
  box-shadow: 0px 0 3px 3px #dedede;
box-sizing: border-box;}

a {text-decoration: none;}

h1, h2, h3, h4 {margin: 0;}

.row {    
  margin-left: -8px;  
  margin-right: -8px;}

.row:after ,.clearfix:after 
{content:""; display: block; clear: both;}

.main_borders {
  background-image: url(../img/font_borders.gif);
  background-repeat: repeat-y;
}
.main_border-right {
  background-image: url(../img/font_border_right.gif);
  background-repeat: repeat-y;
}

/*Настройка линий*/
.blackline_top {
  border-top: 4px solid #000;
  border-bottom: 1px solid #999;
  padding: 10px 0 10px 25px;
  margin: 6px 0 3px 0;
  display: block;
}
.blackline_bottom {
  border-bottom: 4px solid #000;
  border-top: 1px solid #999;
  padding: 10px 0 10px 25px;
  display: block;
  margin-bottom: 6px;
}


/*Настройка текста*/

h3.main_title {
  font-size: 22px;
  color: #ff0066;
  border-bottom: 4px solid #000;
  border-top: 1px solid #999;
  padding: 9px 0;
  margin-bottom: 8px;
}
.news-lent__papertitle, .publication__papertitle, .newsdate_title {
  font-size: 13px;
  color: #000;
  position: relative;
}

.news-lent__papertitle:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: 0 0;
}
.newsdate_title:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: 0px -40px;
}

p {
  font-size: 13px;
  color: #484848;
  margin: 14px 0;
}
.comment p {
  color: #4a4a4a;
  font-size: 12px;
}


.publ_title {
font-family: 'Times New Roman', Times, serif;
font-size: 24px;
color: #000;
margin: 13px 0;
}


/*Шапка сайта*/

header {
  height: 353px;
  padding-top: 0;
  margin-top: 0;
}
.header__img {
  height: 190px;
}
.header_main {
  height: 190px;
  width: 960px;
  background-image: url(../img/header_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}
.header_news {
  height: 191px;
  width: 960px;
  background-image: url(../img/header_img_news.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}
.header_publication {
  height: 191px;
  width: 960px;
  background-image: url(../img/header_img_publ.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}
.header_button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px 0 0 0;
  padding: 6px;
  color: #0a0a0a;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

/*Логотип и поиск по сайту*/


.logo {
  height: 110px;
}
.logo__img 
{margin: 16px 0 8px 0;}

.logo__describtion-text {
  color: #454545;
  font-size: 11.6px;
  line-height: 13px;
  margin: 0;
}
.logo__describtion-text:first-child {
  margin-top: 16px;
}
.logo__describtion {height: 84px; position: relative;}

.header__searchform-input {
  height: 26px;
  width: 415px;
  border: 1px solid #aeaeae;
  color: #aeaeae;
  line-height: 26px;
  position: absolute;
  bottom: 21px;
  padding-left: 5px;
}
.header__searchform-submit {
  width: 20px;
  height: 20px;
  border: none;
  display: block;
  background-image: url(../img/icons.png);
  background-position: -22px -80px;
  position: absolute;
  right: 0;
  top: 34px;
  margin: 4px 8px 0 0;
  text-indent: -3000px;
  background-color: #fff;
  cursor: pointer;
}

/*Слайдер*/
.news-lent__carousel{
  height: 473px;
}
.news-lent__carousel-item {
  position: relative;
}
.news-lent__carousel-item:before {
  content: 'Скоро открытие летнего сезона';
  color: #000;
  font-size: 22px;
  line-height: 70px;
  padding-left: 8px;
  display: block;
  position: absolute;
  width: 522px;
  height: 70px;
  background: rgba(255,255,255,0.8);
  bottom: 0;
}
.news-lent__carousel-crumbs {
  margin-top: 10px;
  padding-left: 190px;
}
.c_crumb {
  height: 18px;
  width: 18px;
  background-color: #acacac;
  margin: 0 1px;
  display: inline-block;
}
.c_crumb:first-of-type {background-color: #ff0066;}

/*Меню*/

.header__mainmenu {
  height: 23px;
  display: table;
  width: 959px;
}
.header__mainmenu ul {
  list-style: none;
  display: table-row;
}
.header__mainmenu-list {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  position: relative;
  padding: 0 5px;
}
.header__mainmenu-list:first-child {text-align: left;}
.header__mainmenu-list:last-child {text-align: right;}

.header__mainmenu-list:after {
    content: '|';
    color: #0a7aa5;
    position: absolute;
    font-size: 15px;
    right: 0;
}
nav.header__mainmenu-publ .header__mainmenu-list:after {
    content: '|';
    color: #ff0066;
    position: absolute;
    font-size: 15px;
    right: 0;
}
.header__mainmenu-list:last-child:after {
    content: '';
    position: absolute;
    font-size: 15px;
    right: 0;
}

.header__mainmenu-link {
  color: #0a7aa5;
  text-decoration: underline;
  font-size: 15px;
}

.header__mainmenu-link-active {color: #ff0066;}
.header__mainmenu-link-active-grey {color: #646464;}

/*Анонсы, дата и вход на сайт*/

.header__pinkline-announce {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  background-color: #ff0066;
  margin-right: -8px;
  padding-left: 8px;
}
.pinkfont,.date {background-color: #ff0066;}
.date, .enter, .registration {
  color: #fff; 
  font-size: 13px; 
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.date {margin: 0 -8px;}

.blackfont {background-color: #000000;}
.enter {
  border-right: 1px solid #fff;
  padding: 0 10px 0 20px;
}
.registration {
  padding-left: 6px;
}
.reg_button {
  margin-left: -8px;
}
.publication_title {
  background-color: #acacac;
  height: 30px;
  display: block;
  margin-right: -7px;
  line-height: 30px;
  color: #fff;
  font-size: 22px;
  padding-left: 8px;
}

/*Публикации*/

.all_publications {
  position: relative;
}
.all_publications:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: -20px 0px;
}
.views, .comments {
  color: #929292;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  text-decoration: underline;
  padding: 0 5px 0 2px;
}
.publication_buttons {
  border-top: 1px solid #999999;
}

.pink_numbers {
  color: #ff0066;
  line-height: 36px;
  font-size: 13px;
}

.publication_img {
  margin: 6px 6px 6px 0;
}

/*Хлебные крошки*/

.breadcrumbs {
  height: 60px;
  border-top: 4px solid #000;
  padding-top: 14px;
  box-sizing: border-box;
}
.page_number {
  color: #ff0066;
  font-size: 13px;
  padding: 3px 6px;
}
.page_number_active {
  color: #fff;
  background: #ff0066;
}


/*Новости*/

.news_text {
  color: #312d2d;
  font-size: 12px;
  padding: 12px 0;
  margin: 0;
}

.news_title {
  font-size: 22px;
  color: #ff0066;
  margin: 7px 0;
}
.all_news {
  position: relative;
}
.all_news:before {
   content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: -20px -40px;
}
.publication_title_block {
border-top: 4px solid #000;
border-bottom: 1px solid #999;
margin: 8px 0 4px 0;
}

.paperdate_title_publ {
  line-height: 33px;
  font-size: 13px;
  color: #000;
  position: relative;
  padding-left: 24px;
}
.paperdate_title_publ:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  background-image: url(../img/icons.png);
  background-position: 0 0;
}

/*Рекламный баннер*/

.ad_banner {
  height: 400px;
  margin: 8px 0;}


/* Фото*/

.all_photo {
  position: relative;
}
.all_photo:before {
   content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: 0px -20px;
}

/*Комментарии*/

.all_comments {
  position: relative;
}
.all_comments:before {
   content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: -20px -20px;
}

.comment {
  color: #4a4a4a;
  font-size: 12px;
  padding: 0 10px 0 25px;
  border-bottom: 1px solid #999;
  position: relative;
}
.comment:last-of-type {
  border-bottom: none;
}

.comment:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  background-image: url(../img/icons.png);
  background-position: -1px -80px;
}

/*Комментарии стр.новости*/

.comment_full{
border-bottom: 1px solid #6a6a6a;
}
.comment_full:last-of-type {
  border-bottom: 4px solid #000;
}

.author {
  color: #6a6a6a;
  font-size: 13px;
  text-decoration: underline;
  margin-right: 6px;
}
.comment_date{
  color: #6a6a6a;
  font-size: 13px;
  border-left: 1px solid #6a6a6a;
  padding-left: 6px;
}
.add_comment_title {
  font-size: 22px;
  color: #ff0066;
  padding: 9px 0;
}
.add_comment_block {
  border-top: 1px solid #999;
  border-bottom: 4px solid #000;
  margin: 4px 0;
}

/*Объявления*/

.new_ad {
  position: relative;
}
.new_ad:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/icons.png);
  background-position: -20px -60px;
}

.ad_text {
  font-size: 12px;
  color: #000;
  line-height: 14px;
  padding: 0px 10px 0 27px;
  margin: 0;
}
.ad {
  border-bottom: 1px solid #999;
  padding: 12px 0;
  position: relative;
 }
.ad:last-of-type {border-bottom: none;}
.ad:first-of-type {padding-top: 4px;}

.ad:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  background-image: url(../img/icons.png);
  background-position: -1px -60px;
}

.show_all {
  color: #535353;
  font-size: 13px;
  text-decoration: underline;
  padding-left: 30px;
}

/*Форма*/

textarea {
  width: 703px;
  height: 70px;
  margin: 8px 0;
}
button.send {
  background: #f7f7f7;
  border: 1px solid #999;
  padding: 11px;
  margin-bottom: 8px;
}


/*Подвал*/

.copyright {
  background-color: #acacac;
  height: 30px;
  display: block;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  padding-left: 10px;
}
.footer_text>p {
  text-align: center;
  font-size: 13px;
  color: #757575;
  line-height: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
.footer_text {
  border-top: 1px solid #999;
  padding-top: 10px;
  margin-top: 3px;
}

